<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>登錄頁面</title>
</head>
<body>
<h2>自定義登錄頁面</h2>
<form action="/permit/login" method="post">
    <table> <tr> <td>用戶名：</td>
        <td>
            <input type="text" name="username">
        </td>
    </tr> <tr>
        <td>密碼：</td>
        <td>
            <input type="password" name="password">
        </td>
    </tr>
        <tr>
            <td>記住我：</td>
            <td>
                <input type="checkbox" name="remember_me">
            </td>
        </tr>


        <tr>
            <td colspan="2"><button type="submit">登錄</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
